.chat
  .header
    .left-header
      .left-header__title
        グループ名
      %ul.left-header__members
        Member:
        %li.Member
          メンバーA 
        %li.member 
          メンバーB 
    .right-header
      .right-header__button
        Edit

  .messages
    .message
      .message-info
        .message-info__user-name
          ユーザー１
        .message-info__date
          2019/07/29
      .message-body
        ここにメッセージが入ります。ここにメッセージが入ります。 
    .message
      .message-info
        .message-info__user-name
          ユーザー２
        .message-info__date
          2019/07/29
      .message-body
        ここにメッセージが入ります。ここにメッセージが入ります。
  .form
    %form 
      %input.form__message
      %label.form__mask__image
        = fa_icon 'picture-o', class: 'icon'
        %input.hidden{type: 'file'}
      %input.form__submit{ type: 'submit', value: 'Send'}
